:root {
    --dark: #fff;
    --dark-lighter: #ededed;
    --light: #121212;
    --light-secondary: #2e2e2e;
    --rose: #fbb4b4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
dialog {
    background-color: var(--dark);
    color: var(--light);
    font-family: "Source Sans 3", sans-serif;
}

html,
body {
    height: 100%;
    transition: all 0.2s;
}

dialog {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 25%;
    background-color: var(--dark-lighter);
}

#root {
    height: 100%;
    padding: 1rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    background-color: var(--dark-lighter);
    color: var(--light);
    border-radius: 18px;
    border: none;
    width: 100%;
    padding: 1rem;
    transition: all 0.1s;
}

.icon:hover {
    cursor: pointer;
}

.section-title,
.modal-heading-container {
    font-weight: 600;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    font-family: "Lora", serif;
}

img {
    object-fit: cover;
    max-height: 50%;
    border-radius: 5px;
}

#logo {
    max-width: 2rem;
    max-height: 2rem;
}

#books {
    display: flex;
    gap: 1rem;
}

.book,
.add {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 12rem;
}

.book {
    justify-content: space-between;
    border-radius: 5px;
    padding: 0.5rem;
    position: relative;
}

.book:hover {
    background-color: var(--dark-lighter);
    transition: 0.25s;
}

.book-author {
    color: var(--light-secondary);
}

.books-end {
    display: flex;
    align-items: center;
}

.trash {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
}

#blend {
    margin: 0 auto;
    margin-bottom: 2.5rem;
    width: 8rem;
    height: 3rem;
    font-size: 1em;
}

button,
input[type="submit"] {
    font-weight: 600;
    width: 6rem;
    height: 2rem;
    background-color: var(--light);
    color: var(--dark);
    border: none;
    border-radius: 40px;
    display: block;
}

button:hover,
input[type="submit"]:hover {
    background-color: var(--rose);
    color: var(--light);
    cursor: pointer;
}

input[type="submit"] {
    margin: 1rem 0 1rem 0;
}

#modal-input {
    width: 100%;
}

.modal-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    width: 100%;
}

#search-icon {
    position: absolute;
}

#search-results {
    position: absolute;
    bottom: -15rem;
    width: 100%;
    background-color: var(--dark-lighter);
    border-radius: 8px;
    z-index: 1;
}

.result {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
}

.search-results-number {
    width: 5rem;
    text-align: center;
    border-radius: 8px;
}

.search-results-number:hover {
    background-color: var(--rose);
    color: var(--dark);
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

#search-results-bookshelf-selector {
    display: flex;
    gap: 1rem;
    width: 5rem;
    justify-content: space-around;
}
